<div class="tab-pane active">
    <table class="table table-striped dataTable">
            <thead>
                <tr>
                <th class="name"> <span>Subject</span> </th>
                <th class="parent_name" > <span>Related to</span> </th>
                <th class="priority" > <span>Priority</span> </th>
                <th class="due_date" > <span>Due date</span> </th>
                <th class="tasks_actions"><span></span></th>
                </tr>
            </thead>


            <tbody>

            {{#if collection.length}}
                            {{#each collection.models}}
                            <tr class="single">
                                <td><span class="list"><div class="ellipsis_show_all" data-placement="bottom" title="{{fieldValue this "name"}}" data-original-title="{{fieldValue this "name"}}"> 
                                    <a href="#{{buildRoute model=this action="detail"}}">{{fieldValue this "name"}}</a>
                                </div></span></td>

                                <td><span class="list"><div class="ellipsis_inline parent_name" data-placement="bottom" >  
                                {{#if attributes.islink }}
                                    {{#if attributes.color}} 
                                        <a href="#{{fieldValue this "parent_type"}}/{{fieldValue this "parent_id"}}" style="color:{{attributes.color}}">{{fieldValue this "parent_name"}} </a>  
                                    {{else}}
                                        <a href="#{{fieldValue this "parent_type"}}/{{fieldValue this "parent_id"}}">{{fieldValue this "parent_name"}} </a>
                                    {{/if}}
                                {{else}}
                                   {{fieldValue this "parent_name"}} 
                                {{/if}}
                                </div></span></td>

                                <td class="dashlet_priority_td"><span class="list"><div class="ellipsis_inline {{attributes.priority}}" data-placement="bottom" title="" data-original-title="">
                                    {{fieldValue this "priority"}}
                                </div></span></td>

                                <td class="dashlet_date_td"><span class="list"><div class="ellipsis_inline" data-placement="bottom" >  
                                   {{formatDate attributes.date_due dateOnly="true"}} 
                                </div></span></td>
                                
                                <td class="dashlet_action_td"> 
                                    {{#if ../../row_actions}}
                                        <div class="actions pull-right">
                                            {{#each ../../row_actions}}
                                                {{field ../../../this model=../this}} 
                                            {{/each}}
                                        </div>
                                    {{/if}}
                                </td>

                            </tr>
                        
                            {{/each}}
                {{else}}
                    <tr><td colspan="5">You haven't got any tasks.</td></tr>
                {{/if}} 
        </tbody>
    </table>
</div>
